@import './base';

.gblx-widget-columns__image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
}

.gblx-widget-columns__blurb__quote-icon {
  fill: currentColor; 
}