@import '~scss/dimensions';

.gblx-cta {
  position: relative;
  background-size: cover;
  height: auto;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: break-all;

  &.has-parallax {
    background-attachment: fixed;
  }

  @include mobile {
    & {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .inner {
    z-index: 1;
    position: relative;
    top: 100px;
    padding: 15px;
    overflow: hidden;
  }

  .callouts {
    text-align: center;
    width: 100%;
  }

  .header h2, 
  .content p {
    z-index: 1;
    max-width: 636px;
    text-align: center;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
  }

  .callout {
    display: block;
    text-align: center;
    box-sizing: border-box;
    box-shadow: none;
    -webkit-box-shadow: none;
    min-width: 20px;

    &:hover {
      text-decoration: none;
      box-shadow: none;
    }

    &.has-transform > * {
      text-transform: uppercase;
    }

    & > * {
      color: inherit;
    }

    @include mobile {
      & { margin: 10px auto !important; }
    }

    @include large-screen {
      & { display: inline-block; }
      &:first-of-type { margin-left:  0 !important; }
      &:last-of-type  { margin-right: 0 !important; }
    }
  }

  .header, 
  .content, 
  .callouts {
    margin: 15px auto;
  }

  .primary-cta, 
  .secondary-cta {
    height: 50px;
    line-height: 50px;
  }

  @include large-screen {
    &.has-left-alignment {
      align-items: flex-start;
      
      .header h2, 
      .content p, 
      .callouts {
        text-align: left;
      }
    }

    &.has-right-alignment {
      align-items: flex-end;

      .header h2, 
      .content p, 
      .callouts {
        text-align: right;
      }
    }
  }
}
