.cta-background {
  position: relative;
  background-size: cover;
  height: 430px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.has-parallax {
    background-attachment: fixed;
  }
  &.has-left-alignment {
    align-items: flex-start;
    .header, .content, .callouts {
      text-align: left;
    }
  }
  &.has-right-alignment {
    align-items: flex-end;
    .header, .content, .callouts {
      text-align: right;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .inner {
    z-index: 1;
    position: relative;
    top: 100px;
  }
  .callouts {
    text-align: center;
    width: 100%;
  }
}

.header, .content  {
  z-index: 1;
  max-width: 636px;
  padding: 5px;
  text-align: center;
  color: inherit;
}

.primary-cta, .secondary-cta {
  min-width: 20px;
  height: 50px;
}

.links input[type=url] {
  width: 100%;
  margin: 1px;
  padding: 3px 5px;
  height: 28px;
  line-height: 1;
}